<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Créditos</h1>
    <p>Autor: Javier Moreno Sánchez</p>
    <p><img src='/images/esqui.jpg'></p>
  </body>
</html>
